<style scoped="" type="text/css">
	.form {
		margin: 25px;
	}
	
	.table_title {
		text-align: center;
		height: 60px;
		line-height: 60px;
	}
</style>
<template>
	<div class="form">
		<div class="table_title">
			党建活动
		</div>
		<Row>
			<Col span="12" offset="6">
			<Form :model="formItem" :label-width="120">
				<FormItem label="活动名称">
					<Input v-model="formItem.goodname" placeholder="输入商品名称"></Input>
				</FormItem>
				<FormItem label="积分数">
					<Input v-model="formItem.integral" placeholder="输入兑换积分"></Input>
				</FormItem>
				<Row>
					<Col span="12">
					<FormItem label="开始时间">
						<DatePicker type="datetime" placeholder="Select date and time" style="width: 200px"></DatePicker>
					</FormItem>
					</Col>
					<Col span="12">
					<FormItem label="结束时间">
						<DatePicker type="datetime" placeholder="Select date and time" style="width: 200px"></DatePicker>
					</FormItem>
					</Col>
				</Row>
				<FormItem label="活动地点">
					<Input v-model="formItem.site" placeholder="地点"></Input>
				</FormItem>
				<FormItem label="设定参与人数">
					<Input v-model="formItem.number" placeholder="设定参与人数"></Input>
				</FormItem>
				<FormItem label="活动简介" prop="desc">
					<Input v-model="formItem.synopsis" type="textarea" :autosize="{minRows: 3,maxRows: 8}" placeholder="输入活动简介"></Input>
				</FormItem>
				<!--上传图片-->
				<Upload multiple action="地址/posts/">
					<Button type="ghost" icon="ios-cloud-upload-outline">上传图片</Button>
				</Upload>
				<!--上传图片结束-->
				<FormItem>
					<Button type="primary" @click="submit">发布</Button>
				</FormItem>
			</Form>
			</Col>
		</Row>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				formItem: {
					goodname: '',
					integral: '',
					starttime: '',
					endtime: '',
					site: '',
					number: '',
					synopsis: '',
				}
			}
		},

		methods: {
			submit() {
				let obj = {
					"title": "标题",
					"score": "59",
					"start_time": "1275467800",
					"end_time": "1275467800",
					"address": "1275467800",
					"setting_num": 5,
					"comment": "简介",
					"submiter": "王小二",
					"uploadimg": "1275467800"
				}
				//				var obj = JSON.stringify(obj);
				console.log(obj);
				let apiUrl = this.apiUrl;
				console.log(obj);
//				this.$http({
//						method: 'post',
//						url: apiUrl + '/member/add',
//						data: obj,
//						headers: {"X-Requested-With": "XMLHttpRequest"},
//						contentType: "application/json"
////						emulateJSON: false
//					})
				
				this.$http.post(apiUrl + '/member/add',obj)
					.then((response) => {
						//添加成功后重新请求
						this.$Message.info('添加成功');
					}, (response) => {
						alert('服务器请求失败');
					});
				console.log(this.test);
			},
		}
	}
</script>