<style scoped="" type="text/css">
	.form {
		margin: 25px;
	}
	
	.table_title {
		text-align: center;
		height: 60px;
		line-height: 60px;
	}
</style>
<template>
	<div class="form">
		<div class="table_title">
			专业讲堂
		</div>
		<Row>
			<Col span="12" offset="6">
			<Form :model="formItem" :label-width="120">
				<FormItem label="活动名称">
					<Input v-model="formItem.goodname" placeholder="输入商品名称"></Input>
				</FormItem>
				<FormItem label="积分数">
					<Input v-model="formItem.integral" placeholder="输入兑换积分"></Input>
				</FormItem>
				<FormItem label="开始时间">
					<Row>
						<Col span="11">
						<FormItem prop="date">
							<DatePicker type="startdate" placeholder="开始日期" v-model="formItem.startdate"></DatePicker>
						</FormItem>
						</Col>
						<Col span="2" style="text-align: center">-</Col>
						<Col span="11">
						<FormItem prop="time">
							<TimePicker type="starttime" placeholder="开始时间" v-model="formItem.starttime"></TimePicker>
						</FormItem>
						</Col>
					</Row>
				</FormItem>
				
				<!--结束时间-->
				<FormItem label="结束时间">
					<Row>
						<Col span="11">
						<FormItem prop="enddate">
							<DatePicker type="enddate" placeholder="结束日期" v-model="formItem.enddate"></DatePicker>
						</FormItem>
						</Col>
						<Col span="2" style="text-align: center">-</Col>
						<Col span="11">
						<FormItem prop="endtime">
							<TimePicker type="endtime" placeholder="结束时间" v-model="formItem.endtime"></TimePicker>
						</FormItem>
						</Col>
					</Row>
				</FormItem>

				<FormItem label="活动地点">
					<Input v-model="formItem.site" placeholder="地点"></Input>
				</FormItem>
				<FormItem label="设定参与人数">
					<Input v-model="formItem.number" placeholder="设定参与人数"></Input>
				</FormItem>
			     <FormItem label="活动简介" prop="desc">
            <Input v-model="formItem.synopsis" type="textarea" :autosize="{minRows: 3,maxRows: 8}" placeholder="输入活动简介"></Input>
        </FormItem>
				<!--上传图片-->
				<Upload multiple action="地址/posts/">
					<Button type="ghost" icon="ios-cloud-upload-outline">上传图片</Button>
				</Upload>
				<!--上传图片结束-->
				<FormItem>
					<Button type="primary" @click="handleSubmit('formItem')">发布</Button>
				</FormItem>
			</Form>
			</Col>
		</Row>

	</div>
</template>
<script>
	export default {
		data() {
			return {
				formItem: {
					goodname: '',
					integral: '',
					startdate: '',
					starttime: '',
					enddate:'',
					endtime:'',
					site: '',
					number: '',
					synopsis: '',
				}
			}
		}
	}
</script>